<div class="container">
        <div class="col-md-4" style="float: left;" id="skills-available-container">
        <% @available_skills.each do |available_skill| %>
            <div id="<%= available_skill.Id %>" class="skill-row-available">
                <p><%= available_skill.Name %></p>
            </div>
        <% end %> 
    </div>
    <div class="col-md-4" style="float: left; text-align:center;"> 
        
        <button class="btn btn-primary" id="left-to-right-button"> > </button> 
        <br/>
        <br/>
        <button class="btn btn-primary" id="right-to-left-button"> < </button>
        <br><br><br>
        <div id="assign-form">
            <%= form_with scope: :skill, url: character_skill_path(params[:character_id], 1), method: :put, local: true do |form| %> 
                <input type="hidden" value="<%= params[:character_id] %>}}" name="character_id" id="character_id">
                <%= form.submit %>
            <% end %>
        </div>
        <%= link_to 'Add new skills', new_character_skill_path(params[:character_id]) %>

    </div>
    <div class="col-md-4" style="float: left;" id="skills-assigned-container">
        <% @user_skills.each do |user_skill| %>
            <div id="<%= user_skill.Id %>" class="skill-row-assigned">
                <p><%= user_skill.Name %></p>
            </div>
        <% end %> 
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function()
        {
            $('.skill-row-available').click(function()
            {
                $(this).toggleClass("clicked");
            });
            $('.skill-row-assigned').click(function()
            {
                $(this).toggleClass("clicked");
            });

            $("#left-to-right-button").click(function()
            {
                var toAdd = $(".skill-row-available.clicked");
                console.log('To add: ' + toAdd);
                var skillsAssigned = $("#skills-assigned-container");
                console.log(skillsAssigned);

                toAdd.removeClass("skill-row-available").addClass("skill-row-assigned").removeClass("clicked");
                skillsAssigned.append(toAdd);
            });

            $("#right-to-left-button").click(function()
            {
                var toAdd = $(".skill-row-assigned.clicked");
                console.log('To add: ' + toAdd);
                var skillsAvailable = $("#skills-available-container");
                console.log(skillsAvailable);

                toAdd.removeClass("skill-row-assigned").addClass("skill-row-available").removeClass("clicked");
                skillsAvailable.append(toAdd);
            });
            $("#assign-form").on("submit", function()
            {
                var idsTable = [];
                $('.skill-row-assigned').each(function()
                {
                    var $this = $(this);
                    idsTable.push($this.attr('id'));
                });
                console.log(idsTable);
                $("<input />").attr("type", "hidden")
                .attr("name", "selected_skills")
                .attr("id", "selected_skills")
                .attr("value", JSON.stringify(idsTable))
                .appendTo("#assign-form");
                return true;
            })

        });
    </script>